@model IzinUygulamasi.Models.altYoneticiler

@{
    Layout = "~/Views/Shared/_UstYoneticiLayout.cshtml";
    ViewBag.Title = "Yönetici Ekle";
    ViewBag.Menu = "altyonetici";
}

@section sweet
{
    @if (TempData["YoneticiDuzenle"] == "basari")
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: "Bilgi Penceresi",
                html: 'Alt yönetici başarıyla düzenlenmiştir.',
                showConfirmButton: true,
                confirmButtonText: 'Tamam'
            }).then(function () {
                window.location = '/altYoneticilerData/Index';
            });
        </script>
    }
    @if (TempData["YoneticiDuzenle"] == "hata")
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: "Bilgi Penceresi",
                html: 'Alt yönetici düzenleme işleminde hata ile karşılaşıldı, lütfen tekrar deneyiniz.',
                showConfirmButton: true,
                confirmButtonText: 'Tamam'
            }).then(function () {
                window.location = '/altYoneticilerData/Index';
            });
        </script>
    }
}

<div class="utils__content">
    <section class="card">
        <div class="card-header">
            <span class="utils__title">
                <strong>Yönetici Düzenle</strong>
            </span>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mb-5">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <!-- Horizontal Form -->
                            <div class="form-group row d-none">
                                @Html.LabelFor(m => m.a_id, "Kullanıcı Adı", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.a_id, htmlAttributes: new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.a_kullanici_adi, "Kullanıcı Adı", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.a_kullanici_adi, htmlAttributes: new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.a_kullanici_sifre, "Kullanıcı Şifre", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.a_kullanici_sifre, htmlAttributes: new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.a_adi_soyadi, "Adı Soyadı", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.a_adi_soyadi, htmlAttributes: new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.a_email, "Email", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.a_email, htmlAttributes: new { @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.a_aktiflik, htmlAttributes: new { @class = "col-md-3 col-form-label" })
                                <div class="col-md-9">
                                    @Html.DropDownListFor(m => m.a_aktiflik, new List<SelectListItem> {
                                        new SelectListItem() {Text = "Aktif", Value="1"},
                                        new SelectListItem() {Text = "Pasif", Value="0"} }, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(m => m.a_ise_giris_tarihi, "İşe Giriş Tarihi", htmlAttributes: new { @class = "col-md-3 col-form-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.a_ise_giris_tarihi, htmlAttributes: new { type = "datetime-local", @class = "form-control", required = "required" })
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="form-group row">
                                    <div class="col-md-9 offset-md-3">
                                        <input type="submit" class="btn btn-primary pl-4 pr-4" value="Düzenle" />
                                        <a onclick="history.go(-1); return false;" href="#" class="btn btn-default">Geri Dön</a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>