@model IzinUygulamasi.Models.altYoneticiler
@{
    ViewBag.Title = "Alt Yönetici Giriş Sayfası";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link href="components/dummy-assets/common/img/favicon.png" rel="shortcut icon">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,700i" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/Content/vendors/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/datatables/media/css/dataTables.bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/jquery-steps/demo/css/jquery.steps.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/font-linearicons/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/font-icomoon/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vendors/sweetalert/sweetalert2.min.css">
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/Content/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Content/vendors/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Content/vendors/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/vendors/select2/dist/js/select2.full.min.js"></script>
    <script src="~/Content/vendors/html5-form-validation/dist/jquery.validation.min.js"></script>
    <script src="~/Content/vendors/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/Content/vendors/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/vendors/datatables/media/js/dataTables.bootstrap4.js"></script>
    <script src="~/Content/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js"></script>
    <script src="~/Content/vendors/datatables-responsive/js/dataTables.responsive.js"></script>
    <script src="~/Content/vendors/sweetalert/sweetalert2.min.js"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <link rel="stylesheet" type="text/css" href="~/Content/components/core/common/core.cleanui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/components/core/widgets/widgets.cleanui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/components/vendors/common/vendors.cleanui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/components/settings/common/settings.cleanui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/components/settings/themes/themes.cleanui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/components/menu-left/common/menu-left.cleanui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/components/menu-right/common/menu-right.cleanui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/components/top-bar/common/top-bar.cleanui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/components/footer/common/footer.cleanui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/components/pages/common/pages.cleanui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/components/apps/common/apps.cleanui.css">
</head>
<body class="config--vertical config--borderLess menu-left--colorful menu-left--shadow">
    <div class="login mt-5">
        <div class="login__block">
            <div class="row">
                <div class="col-xl-12">
                    <div class="login__block__inner">
                        <div class="login__block__form">
                            <h4 class="text-uppercase text-center">
                                <strong>Alt Yönetici Girişi</strong>
                            </h4>
                            <br />
                            @using (Html.BeginForm("AYGiris", "Login", FormMethod.Post))
                            {
                                <div class="form-group">
                                    @Html.LabelFor(m => m.a_kullanici_adi, "Kullanıcı Adı", htmlAttributes: new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.a_kullanici_adi, new { @class = "form-control", id = "username", placeholder = "Kullanıcı Adı", required = "required" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.a_kullanici_sifre, "Şifre", htmlAttributes: new { @class = "form-label" })
                                    @Html.PasswordFor(m => m.a_kullanici_sifre, new { @class = "form-control password", id = "password", placeholder = "Şifre", required = "required" })
                                </div>
                                <div class="text-center">
                                    <div class="g-recaptcha d-inline-block" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
                                    <div class="alert alert-danger d-none" id="g-recaptcha1Alert" role="alert"><h3>Lütfen robot olmadığınızı doğrulayın.</h3></div>
                                </div>
                                <div class="form-actions text-center">
                                    <input type="submit" name="aLogin" id="aLogin" class="btn btn-primary mr-3" value="Giriş Yap" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (TempData["AYGiris"] == "basari")
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: "Bilgi Penceresi",
                html: 'Sisteme başarıyla giriş yapılmıştır.',
                showConfirmButton: true,
                confirmButtonText: 'Tamam'
            }).then(function () {
                window.location = '/AltYonetici/Index';
            });
        </script>
    }

    @if (TempData["AYGiris"] == "hata")
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: "Bilgi Penceresi",
                html: 'Hatalı giriş, lütfen tekrar deneyiniz.',
                showConfirmButton: true,
                confirmButtonText: 'Tamam'
            }).then(function () {
                window.location = '/Login/AltYonetici';
            });
        </script>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('#aLogin').click(function (e) {
                var username = $("#username").val();
                var password = $("#password").val();

                if (username != "" && password != "") {
                    var response = grecaptcha.getResponse();

                    if (response.length == 0) {
                        e.preventDefault();
                        $("#g-recaptcha1Alert").addClass("d-block");
                    }
                }
            });
        });
    </script>

</body>
</html>